@import "fonts";

$main-font: 'IBM Plex Mono', sans-serif;
$second-font: 'IBM Plex Mono', sans-serif;
$size: 14px;
$yellow: #FFD60B;
$sky: #00B2A9;
$blue: #007BD8;
$purple: #995DD4;
$green: #00A82D;
$orange: #FF7F32;

$light-c7: #c7c7c7;
body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  font-size: $size;
  //overflow-x: hidden;
  //background: $black;
  //scroll-behavior: smooth;
  //&.no-scroll {
  //  overflow: hidden;
  //}

}

body {
  //overflow-x: hidden;
  max-width: 100%;

  &.fixed {
    position: fixed;
  }
}

* {
  letter-spacing: 0;
  //font-family: $main-font;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

a, button {
  cursor: pointer;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


img.lazyload, video.lazyload {
  opacity: 0;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}

.js-anim {
  &.anim-top {
    transform: translate(0, 80%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-bot {
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-right {
    transform: translate(-80%, 0);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-left {
    transform: translate(80%, 0);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-yRot {
    transform: rotateX(180deg);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-xRot {
    transform: rotateY(180deg);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-blur {
    filter: blur(4px);
    opacity: 0;
    transition: opacity 0.9s ease, transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), filter 0.5s ease, background-color 0.3s ease;
  }

  &.anim-fadeT {
    opacity: 0;
    transform: translate(0, 40px);
    transition: opacity 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-fadeR {
    opacity: 0;
    transform: translate(-80%, 0);
    transition: opacity 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-fadeB {
    opacity: 0;
    transform: translate(0, -60px);
    transition: opacity 0.6s cubic-bezier(0.110, 0.620, 0.20, 0.985), transform 0.8s cubic-bezier(0.110, 0.620, 0.20, 0.985), background-color 0.3s ease;
  }

  &.anim-start {
    transform: translate(0) rotate(0) !important;
    filter: none !important;
    opacity: 1 !important;

  }
}

.container {
  width: 100%;

  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 2100px;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
  font-family: $main-font;

  &.no-scroll {
    overflow: hidden !important;
    height: auto !important;
  }
}

html {
  &.no-scroll {
    overflow: hidden !important;
    height: auto !important;
  }
}

.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}


.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;
  //overflow: hidden;

  display: flex;
  flex-direction: column;
  //transition: padding-top 0.4s ease;


}


.block {
  --v: 6;
  --h: 3;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-gap: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  grid-template-columns: repeat(var(--v), 1fr);
  grid-template-rows: repeat(var(--h), 1fr);

  > * {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

  }

  &.white {
    border-top-color: rgba(255, 255, 255, 0.15);

    > * {
      border-color: rgba(255, 255, 255, 0.15);
    }
  }
}


p, h1, ul, ol, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #ECECEC;
  box-shadow: inset 0 0 1px 1px #fff;

}

* {
  outline: none;
  box-sizing: border-box;
  font-family: $main-font;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  box-sizing: border-box;
}

.btn {

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.backplate-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.visible {
    pointer-events: auto;
    opacity: 1;
  }
}

body {
  &.home {
    .header {
      position: fixed;
      border-bottom: none;
    }

    .container {
      max-width: none;
    }
  }

  .header {
    position: sticky;
    top: 0;
  }
}

@import 'header';
@import 'footer';
@import 'home';
@import 'production';

@import "media";
